body{
  text-align: center;
  font-style: 'Merriweather', serif;
}
h1{
  color:#11999E;
  font-size: 80px;
  margin-top: 0;
  font-family: 'Sacramento', cursive;

}
hr{
  width:20%;
  border-top: 8px dotted;
  color: grey;
  border-left:none;
  border-right:none;
  border-bottom:none;
}

h2{
  margin-top:50px;
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size:40px;
  font-weight: normal;

}
h3{
  color:#11999E;
  line-height: 2;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
  line-height:2;
}
.Top-container{
  margin:0 0 0 0;
  background-color:#EAF6F6;
  color:#40bad5;
  padding-top: 200px;
}
.bottom-container{
  color:black;
}
.bottom-cloud{
  position:absolute;
  top: 350px;
  left: 500px;
}
.top-cloud{
  position:relative;
  left: 200px;
  top: 8px;
}


.web-design{
  width:25%;
  float: left;
  margin-right: 30px;

}
.myprofile{
  width:220px;
  height:240px;
  border-radius: 100px 100px 100px 100px;
  border-top: 20px;

}
.UIUX{
  width:25%;
  float: right;
  margin-right:30px;


}
.myprofile{
  width:280px;
  height:240px;
}
